* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14pt;
  line-height: 1.33em;
}

header {
  display: flex;
  height: 40px;
  width: 100%;
  background-color: slategray;

  nav {
    ul {
      display: flex;
      list-style-type: none;
    }
  }
}
